.input-line {
    display:block;
    font-weight: 700;
    }

.form:nth-child(n) {
    margin-top: 25px;
}


.field, .city-select {
    box-sizing: border-box;
    width: 500px;
    border: 1px solid red;
    max-width: 500px;
    resize: vertical;
    }



.field:focus, .city-select:focus {
    outline: 1px solid  orange;
    outline-offset: -2px;

}


.button {
    border: none;
    font-family: inherit;
    font-weight: 900700;
    padding: 15px 55px;
    font-size: 18px;
    background: red;
    color: white;
    cursor: pointer;
   
    }

.button:hover {
    color: black;
    background-color: aqua;
    }

  .city-select {
    background-image: url("https://netology-code.github.io/resourses/pics/select__min_.svg");
    background-repeat: no-repeat;
    background-position:right 5px center;
    height: 30px;
    appearance: none;
    
  }

