.input-line {
    display:block;
    padding-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    }

.field {
    box-sizing: border-box;
    width: 500px;
    border: 1px solid red;
    max-width: 500px;
   }

.complaint-field {
   width: 500px;
    max-width: 500px;
    resize: vertical;
    border: 1px solid red;

}

