.radio-button-text::before {
    content: "";
    display: inline-block;
    flex-direction: row;
    
    width: 20px;
    height: 20px;
    
    background-image: url("https://netology-code.github.io/resourses/pics/radio-no-active.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    vertical-align: top;
    margin-right: 6px;  
}


.radio-form {
    display: inline-block;
    font-size: 15px;   
    font-family: sans-serif; 
}


.radio-button {
    -webkit-appearance: none; 
    position: absolute;  
}


.radio-button:focus + .radio-button-text::before, .checkbox:focus + .checkbox-text {
    outline: 3px solid red;
    outline-offset: 1px;
}


.radio-button:checked  + .radio-button-text::before{
    background-image: url("https://netology-code.github.io/resourses/pics/radio-active.svg");
}


.radio-form:nth-of-type(n+2) {
    margin-left: 45px;
}


.checkbox-block {
    display: block;
    margin-top: 40px;
    font-size: 15px;
    font-family: sans-serif;   
}


.checkbox-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    
    background-image: url("https://netology-code.github.io/resourses/pics/checkbox2-unchecked.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 6px;    
}


.checkbox-text{
    display: block;
    height: 22px;
}


.checkbox {
    appearance: none;
    position: absolute;    
}


.checkbox:checked + .checkbox-text::before {
    background-image: url("https://netology-code.github.io/resourses/pics/checkbox2-checked.svg");
}

.test {
    background-image: url("https://netology-code.github.io/html-2-homeworks/form-elements/courses/img/presentation.jpg");
    background-size: 600px 100px;
    background-repeat: no-repeat;
}