.radio-button-text::before {
    content: "";
    display: inline-block;
    
    width: 20px;
    height: 20px;
    
    background-image: url("https://netology-code.github.io/resourses/pics/radio-no-active.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 6px;
   
}

.radio-form {
    font-size: 15px;    
}

.radio-button {
    -webkit-appearance: none; 
    position: absolute;  
}

.radio-button:focus + .radio-button-text::before{
    outline: 3px solid red;
    outline-offset: 2px;
}

.radio-button:checked  + .radio-button-text::before{
    background-image: url("https://netology-code.github.io/resourses/pics/radio-active.svg");
}


.radio-form:nth-of-type(n+2) {
    margin-left: 25px;
}
.checkbox-style {
    display: block;
    margin-top: 40px;
}