


.radio-button-text::before {
    content: "";
    display: inline-block;
    
    width: 20px;
    height: 20px;
    
    background-image: url("https://netology-code.github.io/resourses/pics/radio-no-active.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    vertical-align: bottom;
    margin-right: 6px;
}

.radio-form {
    font-size: 15px;
}

.radio-button:checked {
    outline: 3px solid red;
    outline-offset: 2px;
}

.radio-button {
    appearance: no;
}



.radio-form:nth-of-type(n+2) {
    margin-left: 25px;
}